body {
    background-color: rgb(78, 78, 78);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(184, 109, 255);
}

.main-title {
    text-align: center;
    text-decoration: solid;
}

#flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    position: relative;
    padding: 20px;
    border: 3px;
    border-color: black;
    border-style: dotted;
    margin: 17px;
    background-color: beige;
    flex-basis:  350px;
    
}

#two, #three, #one {
    height: 240px;
}

#four, #five, #six {
    height: 345px;
}