body {
    background-color: rgb(78, 78, 78);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(163, 67, 253);
}

.main-title {
    text-align: center;
    text-decoration: solid;
}

.titles {
    text-align: center;
    font-size: 26px;
    border: 1.5px;
    border-style: solid;
    border-color: white;
    background-color: rgb(78, 78, 78);;
    border-radius: 15px;
    margin: 0px;
    padding: 3px;
    position: relative;
    top: -34px;
}

#flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    position: relative;
    padding: 20px;
    border: 1.5px;
    border-color: white;
    border-style: dashed;
    margin: 17px;
    flex-basis:  350px; 
}

.codebox {
    color: white;
    background-image: linear-gradient(0, rgb(0, 1, 5), rgb(84, 1, 161));
    padding: 10px;
    border-radius: 10px;
}

#two, #three, #one {
    height: 250px;
}

#four, #five, #six {
    height: 345px;
}